---
import BaseLayout from "@layouts/BaseLayout.astro";
const pageTitle = "About iokira";

const accounts = [
    { link: "https://github.com/iokira", name: "GitHub" },
    { link: "https://x.com/iokira_jp", name: "X (Twitter)" },
];
const qualifications = [
    { name: "普通自動車第一種運転免許" },
    { name: "AWS Certified Cloud Practitioner" },
    { name: "AWS Certified Solutions Architect - Associate" },
    { name: "AWS Certified SysOps Administrator - Associate" },
    { name: "AWS Certified Developer - Associate" },
    { name: "3級ファイナンシャル・プランニング技能士" },
];
const bio = [
    { year: 2004, event: "福岡県に生まれる" },
    { year: 2024, event: "久留米工業高等専門学校制御情報工学科を卒業" },
    { year: 2024, event: "チームラボ株式会社に入社" },
];
---

<BaseLayout pageTitle={pageTitle}>
    <div class="headline">
        <div class="texts">
            <h1 class="name">iokira</h1>
            <p>吉良伊織 (Kira Iori)</p>
            <p class="comment">カフェインに弱いコーヒー・読書愛好家。</p>
        </div>
        <img
            class="profile-image"
            src="/images/profile.jpg"
            alt="iokira's profile picture"
            width="200"
            height="200"
        />
    </div>
    <h2>Bio</h2>
    <hr />
    <div class="bio">
        {
            bio.map((item) => (
                <div class="bio-item">
                    <b>{item.year}</b>
                    <span>{item.event}</span>
                </div>
            ))
        }
    </div>
    <br />
    <h2>趣味</h2>
    <hr />
    <h3>コーヒー</h3>
    <p>
        最近はエチオピアの深煎りが気に入ってます。他にもスマトラとかゲイシャ種も好き。普段は家でペーパードリップだけど、あまり上手には淹れられないです。
        仕事の合間にはグァテマラの深煎りをアイスで飲むことが多いです。苦いアイスコーヒーっていいですよね。
        でも実はこっそりニカラグアの浅煎りとかも飲んでます。酸味も苦みも、美味しいですよね。
    </p>
    <h3>本</h3>
    <p>特にミステリと SF が好きです。</p>
    <p>
        特にお気に入りなのは京極夏彦の「姑獲鳥の夏」、夢野久作の「ドグラ・マグラ」、アガサ・クリスティの「ナイルに死す」です。
        あと最近劉慈欣の「三体」シリーズを読了しまして、絶賛三体ロスです。
    </p>
    <p>
        他にも青空文庫で公開されている短編を読むのが好きで、宮沢賢治の「ポラーノの広場」や江戸川乱歩の「人間椅子」、夢野久作の「瓶詰め地獄」、坂口安吾の「堕落論」が気に入ってます。
    </p>
    <p>いつか読んだ本紹介ページとか作りたいですね。</p>
    <h3>曲</h3>
    <p>ジャンル問わず、気に入った曲をヘビロテしています。</p>
    <p>最近は Slipknot、 Earth, Wind & Fire、小沢健二をよく聴いています。</p>
    <p>
        邦ロックだと THE BACK HORN、 People In The Box、 ASIAN KUNG-FU
        GENERATION が好き。
    </p>
    <p>
        メタルは Metallica、 Slipknot、 Crossfaith、
        Periphery、明日の叙景、Earthists をよく聞きます。特に Slipknot、Wherein
        Lies Continue や Before I Forget、 The Virus of Life、 Skeptic、
        Vermilion、 The Devil in I、
        Lech、などなど好きな曲を挙げだすときりがないですね。
    </p>
    <br />
    <h2>その他</h2>
    <hr />
    <h3>各種 SNS アカウント</h3>
    <ul>
        {
            accounts.map((account) => (
                <li>
                    <a
                        href={account.link}
                        target="_blank"
                    >
                        {account.name}&#8599;
                    </a>
                </li>
            ))
        }
    </ul>
    <h3>メールアドレス</h3>
    <p>dotfiles に .gitconfig を載せているので、そちらをご参照ください。</p>
    <h3>資格</h3>
    <ul>
        {qualifications.map((qualification) => <li>{qualification.name}</li>)}
    </ul>
</BaseLayout>
<style lang="scss">
    .headline {
        padding-block: 1rem;
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        @media screen and (max-width: 800px) {
            flex-direction: column;
        }
    }
    .bio {
        display: flex;
        flex-direction: column;

        > .bio-item {
            display: flex;
            flex-direction: row;
            gap: 1rem;
        }
    }
</style>
