---
import BaseLayout from "@layouts/BaseLayout.astro";
import { BreadCrumbs } from "@components/BreadCrumbs";
const { frontmatter } = Astro.props;
const publishDateString = new Date(
    frontmatter.publishDate,
).toLocaleDateString();
const updateDateString = frontmatter.updateDate
    ? new Date(frontmatter.updateDate).toLocaleDateString()
    : null;
---

<BaseLayout pageTitle={frontmatter.title}>
    <BreadCrumbs
        crumbs={[{ url: "/blog", title: "ブログ" }]}
        topic={frontmatter.title}
    />
    <p class="publishDate">&#x2191;{publishDateString}</p>
    {updateDateString && <p class="publishDate">&#x21BB;{updateDateString}</p>}
    <h1>{frontmatter.title}</h1>
    <slot />
</BaseLayout>
<style>
    .publishDate {
        height: 1rem;
        margin: 0;
        display: inline-block;
    }
</style>
